.mainScreen{
  height:100vh;
}

.mainScreen__container{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:50px;
  height:100%;
}

.mainScreen__containerTop{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
  flex:0.2;
}

.mainScreen__containerTop h1{
  text-transform: capitalize;
  font-weight:700;
  font-size:5rem;
}

.mainScreen__containerTop h2{  
  font-weight:300;  
}

.mainScreen__containerBottom{
  display:flex;
  align-items: center;
  flex:0.8;
  width:40%;
}

.mainScreen__bottomCards{
  display:flex;
  justify-content: center;
  width:100%;
  gap:100px;
}

.mainScreen__p95{
  display:flex;
  align-items:flex-end;
  border:5px solid rgba(0,0,0,.2);
  padding:50px 100px;
  border-radius:30px;
}

.mainScreen__p95 img{
  object-fit:contain;
  width:300px;
  filter:drop-shadow(-1px 15px 5px rgba(0,0,0,0.8) )
}

.mainScreen__pwd{
  display:flex;
  align-items:flex-end;
  border:5px solid rgba(0,0,0,.2);
  padding: 50px 50px;
  border-radius:30px;
}

.mainScreen__pwd img{
  object-fit:contain;
  width: 400px;
  filter:drop-shadow(-1px 15px 5px rgba(0,0,0,0.8) )
}

.mainScreen__prc{
  display:flex;
  align-items:flex-end;
  border:5px solid rgba(0,0,0,.2);
  padding:50px 100px;
  border-radius:30px;
}

.mainScreen__prc img{
  object-fit:contain;
  width:280px;
}

@media screen and (max-width:1600px){
  .mainScreen__containerTop h1 {
    font-size: 4rem;
  }

  .mainScreen__bottomCards {
    gap: 3rem;
  }

  .mainScreen__p95 img {
    width: 200px;
  }

  .mainScreen__prc img{
    width:180px;
  }

  .mainScreen__pwd{
    padding: 50px 60px;
  }
  
  .mainScreen__pwd img{
    width: 273px;
  }
}
